@font-face
 {
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap'
    );
    font-family:'raleway',sans-serif ;
    
    font-size: medium;
    font-weight: normal;
font-style: normal;
color: black;
}
/*GENERAL*/
.htmlbody{
    font-family:'raleway';
}
.margbody{
    margin-left: 50px;
}
/* FLEXBOX*/
.flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*TEXT*/
.legend-text{
    font-weight: bold;
}
.margbody{
    margin-right: 50px;
    margin-left: 50px;
}
/*COLOR*/
.blue{
    color: #0065fc;
}
.bleuclair{
    color: #deebff;
}
.gris{
    color:#f2f2f2;
}
.backblue{
    background-color: #0065fc;
}
.backbleuclair{
    background-color: #deebff;
}
.backgris{
    background-color:#f2f2f2;
}
/*NAVIGATION DU MENU*/
.sizeliens{
    width: 45%; /*de son élément parent soit flexaround=45% de flexbetween*/
}
.black{
    color: black;
}
.sizenav{
    height: 100px;
}
/*Alignement du logo*/
.marglogo{
    margin-bottom: 7px;
} 
/*Bordure du menu*/
.decorationnone{
    text-decoration: none;
}
.sizeborder{
    width: 140px;
    height: 99px;
}
.bordernav{
border-top: 1px solid #0065fc ;
}
.bordernav23{
    border-top: 1px solid transparent;
}
                    /*HEADER*/
/*LOCALISATION*/
.icon-localisation{
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}
.bordersearch{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2
}
/*Navigation de recherche*/
.recherche{
    width: 230px;
    height: 50px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.bordernone{
    border: none;
}
.paddingsearch{
    padding-left: 20px;
}
/*Bouton de recherche*/
.button{
    width: 120px;
    height: 50px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
/*FILTRES*/
.filter h3{ 
    font-size: 20px;
    display: inline;
}
.filter ul{
display: inline-flex;
flex-direction: row;
}
.filter ul li{
    display: inline; /*permet l'alignement et enlève les puces de la liste*/
    margin-left: 25px;
    font-weight: 600;
    border: solid 2px #f2f2f2;
    border-radius: 200px;
    padding: 0 20px 0 0;
    }
    .iconfilter{
        border: solid 2px #deebff;
        border-radius: 200px;
        padding: 15px;
        margin-right: 15px;
        color: #0065fc;
        background-color: #deebff;
    }
    /*hover*/
    .text-hover:hover{
        color: #0065fc;
    }
    .icon-hover:hover{
        color: white;
        background-color: #0065fc;
    }
   /*POINT INFORMATION*/
.bordericon-info{
    border: solid 1px #f2f2f2;
    border-radius: 25px;
    width: 15px;
    height: 15px;
    padding-left: 10px;
}
.info{
    display: flex;
    align-items: center;
    }    