@font-face
 {
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap'
    );
    font-family:'raleway',sans-serif ;
    
    font-size: medium;
    font-weight: normal;
font-style: normal;
color: black;
}
/*GENERAL*/
.htmlbody{
    font-family:'raleway';
}
.margbody{
    margin-left: 50px;
}
/* FLEXBOX*/
.flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*TEXT*/
.legend-text{
    font-weight: bold;
}
.margbody{
    margin-right: 50px;
    margin-left: 50px;
}
/*COLOR*/
.blue{
    color: #0065fc;
}
.bleuclair{
    color: #deebff;
}
.gris{
    color:#f2f2f2;
}
.backblue{
    background-color: #0065fc;
}
.backbleuclair{
    background-color: #deebff;
}
.backgris{
    background-color:#f2f2f2;
}
/*NAVIGATION DU MENU*/
.sizeliens{
    width: 45%; /*de son élément parent soit flexaround=45% de flexbetween*/
}
.black{
    color: black;
}
.sizenav{
    height: 100px;
}
/*Alignement du logo*/
.marglogo{
    margin-bottom: 7px;
} 
/*Bordure du menu*/
.decorationnone{
    text-decoration: none;
}
.sizeborder{
    width: 140px;
    height: 99px;
}
.bordernav{
border-top: 1px solid #0065fc ;
}
.bordernav23{
    border-top: 1px solid transparent;
}
                    /*HEADER*/
/*LOCALISATION*/
.icon-localisation{
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}
.bordersearch{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2
}
/*Navigation de recherche*/
.recherche{
    width: 230px;
    height: 50px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.bordernone{
    border: none;
}
.paddingsearch{
    padding-left: 20px;
}
/*Bouton de recherche*/
.button{
    width: 120px;
    height: 50px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
/*FILTRES*/
.filter h3{ 
    font-size: 20px;
    display: inline;
}
.filter ul{
display: inline-flex;
flex-direction: row;
}
.filter ul li{
    display: inline; /*permet l'alignement et enlève les puces de la liste*/
    margin-left: 25px;
    font-weight: 600;
    border: solid 2px #f2f2f2;
    border-radius: 200px;
    padding: 0 20px 0 0;
    }
    .iconfilter{
        border: solid 2px #deebff;
        border-radius: 200px;
        padding: 15px;
        margin-right: 15px;
        color: #0065fc;
        background-color: #deebff;
    }
    /*hover*/
    .text-hover:hover{
        color: #0065fc;
    }
    .icon-hover:hover{
        color: white;
        background-color: #0065fc;
    }
   /*POINT INFORMATION*/
.bordericon-info{
    border: solid 1px #f2f2f2;
    border-radius: 25px;
    width: 15px;
    height: 15px;
    padding-left: 10px;
}
.info{
    display: flex;
    align-items: center;
    }  
    /*HEBERGEMENT*/
    .galerie-hebergements{
        flex: 2;
        height: 650px;
        padding: 70px 50px;
        margin-right: 20px;
        border-radius: 10px;
        background-color: #f2f2f2;
    }
    .galerie-populaires{
        flex: 1;
        height: 650px;
        padding: 70px 50px;
        margin-left: 20px;
        border-radius: 10px;
        background-color: #f2f2f2;
    }
/*Les hébergeemnts*/
.img-hebergements{
    width: 300px;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.borderpictures{
    border: solid 2px white;
    border-radius: 15px;
    background-color:white;
    width: 302px;
    height: 180px;  
}
.pictures{
    display:flex; 
    justify-content: space-around;
}
.bloc1{
    margin-bottom: 50px;
}
.bloc2{
    margin-top: 100px;
}  
/*Les plus populaires*/
.iconpop{
    margin-left: 300px;
}

.img-populaires{
    width: 200px;
    height: 150px;
    border-radius: 15px 0 0 15px;
    padding-right: 30px;
}
.borderpictures-populaires{
    border: solid 2px white;
    border-radius: 15px;
    width: 450px;
    height: 152px;
    background-color: white;
    display: flex;
    margin-bottom: 50px;
}
/*STARS*/

.bluestars{
    color: #0065fc;
}
.starnone{
    color:#f2f2f2 ;
}
.stars5{
    margin-top: 90px;
}
.stars4{
    margin-top: 75px;
}
/*Légende des hôtels*/
.afficher{
    margin-top: 70px;
}
/*ACTIVITES*/
.activiy{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.galerie-activity{
    width: 95%;
    height: 600px;
    padding-left: 50px;
    padding-right: 50px;
}
.border-activity{
    border: solid 1px white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.legend-activity{
    padding-left: 15px;
}
.flex-activity{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
/*Photos Activités*/
.picture-port{
    width: 300px;
    height: 500px;
    border-radius: 15px 15px 0 0;
}
.picture-fort{
    width: 400px;
    height:230px ;
    border-radius: 15px 15px 0 0;
}
.picture-iles{
    width: 400px;
    height: 230px;
    border-radius: 15px 15px 0 0;
}
.picture-parcnat{
    width:300px ;
    height:500px;
    border-radius: 15px 15px 0 0;
}
.picture-dame{
    width: 400px;
    height: 230px;
    border-radius: 15px 15px 0 0;
}
.picture-longchamp{
    width: 400px;
    height: 230px;
    border-radius: 15px 15px 0 0;
    margin-right: 50px;
}
/*HOVER*/
.map-hover:hover{
    cursor: pointer;
}
/*FOOTER*/
.border-footer{
    border: solid 2px #f2f2f2;
    height: 300px;
    background-color: #f2f2f2;
}
.margfooter{
    display: flex;
    justify-content: flex-start;
}
.li-footer{
    padding-bottom: 10px;
    list-style-type: none;
    padding-right: 380px;
}